<?xml version="1.0" ?>
<robot name="arcbody" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find arcbody_description)/urdf/materials.xacro" />
<xacro:include filename="$(find arcbody_description)/urdf/arcbody.trans" />
<xacro:include filename="$(find arcbody_description)/urdf/arcbody.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    <mass value="0.0"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arcbody_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arcbody_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
